/* NORMALIZING */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}


html {
    width: 100%;
    height: 100%;
    line-height: 1.5;
}

body{
    width: 100%;
    height: 100%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}


/* Table styling */
table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
td, th {
    padding: 10px 20px;
}

th {
    background-color: #e17f10;
    border: 1px solid black;
}

td {
    text-align: center;
    background-color: #f8e8b6;
    border: 1px solid black;
}

/* tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(240,240,240);
} */


/* APP STYLING */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8e8b6;
    
}

h2{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black
}

h3{
    padding: 15px;
}

/* Content container styling */
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content{
    gap: 15px;
    padding-top: 20px;
    text-align: center;
    width: 100%
}

/* Header styling */
header{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    border: 2px solid black;
    background-color: #F1B80E;
}

header > nav {
    text-align: center;
}

header > nav > button{
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 2px;
    background-color:  #f8e8b6;
    border-radius: 5px;
}

.active-header-button{
    background-color:  #f3ce5f;
    
}

#content-title{
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    background-color:  #F1B80E;
    /* margin-left: auto */
}

/* Images styling */
.smoothie-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.smoothie-images > img{
    height: 100%;
}

/* Hours content styling */
.hours-content{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    background-color:  #F1B80E;
}

/* About us section styling */
.aboutus-content{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    background-color:  #F1B80E;
}
.aboutus-content > p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
}


/* Menu styling */
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 60%;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    min-height: 560px;
}

.menu-item > img{
    height: 300px;
    width: 300px;
}

.size{
    font-weight: 500;
    border: 1px solid black;
}

.items-info > summary{
    font-size: 20px;
}

.items-info > ul{
    list-style: none;
    padding-left: 0px;
}

.item-description{
    padding: 15px;
    font-weight: 400;
}


/* Form input styling */
.form-container{
    padding: 10px;
    margin-bottom: 20px;
}


.form-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.form-row > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
    
}

.form-row label {
    padding-bottom: 5px;
}

.form-row textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    height: 100px;
}

.form-row textarea:hover, .form-row textarea:focus{
    box-shadow: 2px 2px 4px;
}

input{
    appearance: none;
    outline: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 2px solid transparent;
}

input:hover, input:focus{
    box-shadow: 2px 2px 4px;
}

.form-submit {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color:#F1B80E;
    color: black;
}

.form-submit:hover {
    box-shadow: 2px 2px 4px;
    background-color: white;
    color:black;
}

.location-container{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1.5fr;
    width: 50%;
    gap: 20px;
    margin-bottom: 20px;
}

.location-container > img{
    padding: 20px;
}

.location-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;   
}

.location-container > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    width: 80%;
}


